/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
#wrapper {
  width:1212px;
  margin:auto;
}

#genControl {
  width:100%;
  height:50px;
}

.subControl {
  display:block;
  width:404px;
  height:130px;
  float:left;
}
.client{
  width:400px;
  float:left;
  border:2px solid black;
}
.client span{
  display:block;
  width:100%;
  background-color:black;
  color:white;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  font-weight: bold;
}
.client Canvas{
  border-top:2px solid black;
}
#ToolTip {
  display:none;
  position: absolute;
  border: 2px solid #ff9d00;
  border-radius: 12px;
  padding:15px;
  background-color: white;
  font-weight: bold;
  transition: opacity 0.1s ease-in;
}
#ToolTip:hover{
  display:none!important;
}
#tempControl {
  padding:0;
  width:400px;
  height:60px;
  border:2px solid black;
}
#cpuControl {
  padding:0;
  width:400px;
  height:65px;
  border:2px solid black;
}
.type{
  width:100%;
  text-align:center;
  padding: 5px 0;
  float:left;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}
.min {
  width:100px;
  float:left;
}
.min input{
  width:50px;
  float:right;
  margin-right:20px;
}
.rangeslider {
  width:200px;
  float:left;
}
.max{
  width:100px;
  float:left;
}
.max input{
  float:left;
  margin-left:20px;
  width:50px;
}

